.section_global{
  width: 360px;
  min-height: 800px;
  margin: auto;
  background-image: url('/images/backgrounds/backgroundAddPlayers.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.h1_adiciona_part{
  color: #FFF;
  font-family: IBM Plex Sans Devanagari;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 32px;

  color: transparent;
  background-image: linear-gradient(180deg, #ffffff 0%, #63A996 100%);
  background-clip: text;
}
.section_inputs{
  padding: 16px;
}
.div_imput_checkbox{
  display: flex;
  align-items: end;
  justify-content: space-between;
  
}
.div_checkbox_p{
  display: flex;
  align-items: center;
  gap: 8px;
}
.span_checkbox{
  width: 22px;
  height: 22px;
  background-color: #fff;
  background-image: url(/images/icons/imputOk.png);
  width: 22px;
  height: 22px;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}
.checkbox[type="checkbox"]{
  width: 22px;
  height: 22px;
  border-radius: 2px;
  margin: 0;
  outline: none;
}
.checkbox:checked{
  opacity: 0;
}
.p_e_um_banco{
  color: #FFF;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.p_equipe{
  color:#FFF;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.div_icons_equipe{
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.imgs_team{
  cursor: pointer;
}
.time_selecionado{
  transition: 0.2s;
  border-radius: 250px;
  transform: scale(1.2);
}
.escurecerImg{
  opacity: 30%;
}
.message_error{
  color: #F1C40F;
  font-family: IBM Plex Sans Devanagari;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.botao_adicionar{
  cursor: pointer;
  width: 317px;
  height: 36px;
  border-radius: 5px;
  border: none;
  background-color:  #4381C1;
  cursor: pointer;

  color: #fff;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.h3_Participantes{
  color: #FFF;
  font-family: Quicksand;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.botao_resetar{
  width: 317px;
  height: 36px;
  border-radius: 5px;
  border: none;
  background-color: #D64254;
  display: block;
  cursor: pointer;
  margin: auto;
  margin-top: 28px;
  margin-bottom: 52px;

  color: #fff;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.loader{
  border: 8px solid #f3f3f3;
  border-top: 8px solid #00A221;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.esconderLoder{
  display: none;
}
