@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@100;200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');
/* font é usada apenas no teaxt do saldo
font is only used in balance teaxt */

.cardPlayerSettings{
  background-color: rgba(217, 217, 217, 0.2);
  height: auto;
  padding: 8px 0;
  margin: 2px 0;
  display: block;
}
.blockAll{
  padding: 0 30px;
}
.TopBlock{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.photoProfile{
  /* size defined in the element */
  width: 48px;
  height: 48px;
}
.div_fhotoProfile_name_balance{
  display: flex;
  gap: 8px;
}
.div_name_balance{
  
}
.name{
  color: #fff;
  font-family: IBM Plex Sans Devanagari;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
}
.balance{
  color: #FFF;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.balance .span{
  color: #00A221;
}
.div_pencil_trash{
  display: flex;
  gap: 16px;
  justify-content: center;
  cursor: pointer;
}
.link_exibir_historico{
  color: #F1C40F;
  font-family: IBM Plex Sans Devanagari;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  text-decoration-line: underline;
}
.div_exibir_historico{
  width: auto;
  padding: 0;
  max-height: 0;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
.linkBlock{
  max-height: 800px;
  padding: 6px 30px;
  transition: max-height 0.5s ease-in-out;
  width: 300px;
}

/* css case props.pageAddPlayer == true */
.ocultar_elemento{
  display: none;
}
.div_name_balance_pageAdd{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 218px;
}
.retirar_background{
  background-color: #382C6E;
}
.retirar_background .blockAll{
  padding: 0 15px;
}