@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@100;200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');
/* font é usada apenas no teaxt do saldo
font is only used in balance teaxt */

.cardPlayerSettings{
  background-color: rgba(217, 217, 217, 0.2);
  height: auto;
  padding: 8px 0;
  margin: 2px 0;
  display: block;
}
.blockAll{
  padding: 0 30px;
}
.TopBlock{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.photoProfile{
  /* size defined in the element */
  width: 48px;
  height: 48px;
}
.div_fhotoProfile_name_balance{
  display: flex;
  gap: 8px;
  align-items: center;
}
.div_name_balance{
  
}
.name{
  color: #fff;
  font-family: IBM Plex Sans Devanagari;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
}
.balance{
  color: #FFF;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.balance .span{
  color: #00A221;
}
.div_pencil_trash{
  display: flex;
  gap: 16px;
  justify-content: center;
  cursor: pointer;
}
.link_exibir_historico{
  color: #F1C40F;
  font-family: IBM Plex Sans Devanagari;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  text-decoration-line: underline;
  cursor: pointer;
}
.div_exibir_historico {
  width: auto;
  padding: 0;
  max-height: 0;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.linkBlock {
  display: block;
  padding: 6px 30px;
  transition: 0.5s ease-in-out;
  width: 300px;
  max-height: 500px; /* Um valor grande o suficiente para acomodar o conteúdo */
  overflow-y: scroll;
}

/* css scrow select */

.linkBlock::-webkit-scrollbar {
  /* barra de rolagem */
  width: 6px;
  border-radius: 0 0 50px 50px;
  background-color: rgba(217, 217, 217, 0.2);  
}

.linkBlock::-webkit-scrollbar-thumb {
  /* barra dentro da barra de rolagem */
  background-color: #382C6E;
  border-right: #fff solid 2px;
  border-radius: 250px;
}
/* end css scrow select */

/* css case props.pageAddPlayer == 2 or 3 */
.ocultar_elemento{
  display: none;
}
.div_name_balance_pageAdd{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 218px;
}
.retirar_background{
  background-color: transparent;
}
.retirar_background .blockAll{
  padding: 0 15px;
}
.div_name_balance_pageTrasac .name{
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  
}
.div_name_balance_pageTrasac .balance{
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

  .loader{
    border: 8px solid #f3f3f3;
    border-top: 8px solid #00A221;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 50px auto;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .esconderLoder{
    display: none;
  }