.p_title{
  color: #FFF;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.select{
  width: 317px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #FFF;
  background-color: transparent;
  outline: none;
  
  /* para alterar a seta */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('/images/icons/arrow_button_select.png');
  background-repeat: no-repeat;
  background-position: right 12px center;
  padding-right: 20px; /* Ajuste o padding conforme necessário para evitar que o texto se sobreponha à seta */
}