.section_global{
  width: 360px;
  min-height: 800px;
  margin: auto;
  background-image: url('/images/backgrounds/background-page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.div_jogadores{
  padding-bottom: 30px;
}
.h1_banco{
  margin-left: 30px;
  color: #FFF;
  font-family: IBM Plex Sans Devanagari;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.h1_jogadores{
  margin-left: 30px;
  color: #FFF;
  font-family: IBM Plex Sans Devanagari;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}