.section_global{
  width: 360px;
  min-height: 800px;
  margin: auto;
  background-color: #382C6E;
}
.div_inputs_edicao{
  padding-left: 15px;
  margin-top: 32px;
}
.div_inputs_edicao input{
  margin: 10px 0;
}

.h1_editar_jogador{
  margin-bottom: -5px;
  margin-left: 15px;
  color: #FFF;
  font-family: IBM Plex Sans Devanagari;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.div_icons_equipe{
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.time_selecionado{
  border: 5px solid #00A221;
  transition: 0.2s;
  border-radius: 250px;
  transform: scale(1.1);
}
.p_equipe{
  color:#FFF;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 15px;
}